* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-primary-color: black;
    --bg-button-primary-color: rgb(117, 117, 223);
    --fc-heading: white;

    --ff-primary: 'Poppins', sans-serif;

    --text-primary-color: white;
    --th-primary-color: royalblue;
    --remove-button-color: red;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    padding: 4rem;

    background: var(--bg-primary-color);
    color: var(--text-primary-color);

    font-size: 1.6rem;

    width: 100vw;
    height: 100vh;

}

body * {
    font-family: var(--ff-primary);
}

.page {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}


header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    margin: 2.5rem 0;
}

header h1 {
    font-size: 2rem;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    height: 3.2rem;
    border: 1px solid #ccc;
    border-radius: .4rem 0 0 .4rem;
    padding: 0 .8rem;

    width: 33rem;
}

.search button {
    background-color: var(--bg-button-primary-color);
   
    height: 3.2rem;
    border: none;
    border-radius: 0 .4rem .4rem 0;
    padding: 0 .8rem;

    cursor: pointer;
}

.search button:hover {
    filter: brightness(1.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table * {
    font-size: 1.4rem;
    color: var(--text-primary-color);
}

table th {
    background: var(--th-primary-color);
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;
}

table th:first-child {
    border-top-left-radius: .4rem;
}

table th:last-child {
    border-top-right-radius: .4rem;
}

table tr:nth-child(odd) {
    background-color: rgb(16, 27, 27);
}

table tr {
    background-color: rgb(32, 59, 59);
}

table td {
    padding: 1.5rem;
    text-align: left;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

td.user img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;

    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background: none;
    color: var(--remove-button-color);
    border: none;
    font-weight: bold;

    cursor: pointer;
}